@import 'https://fonts.googleapis.com/css?family=Amatic+SC';

body {
	background-color: #000;
	color: grey;
	text-align: center;
	font-family: 'Amatic SC', cursive;
}

#S1 {
	height: 400px;
	
	
}

#a1 {
	height: 400px;


}

.sit_1, .sit_2, .sit_3a, .sit_3b, .sit_4a, .sit_4b {
	font-size: 38px;
	margin-top: 40px;
}

.sit_5 {
	font-size: 38px;
	margin-top: 40px;
	background-color: white;

}



#a1 input {
	font-size: 16px;
	margin-top: 40px;
	background-color: black;
	color: red;
	border-radius: 12px;
	border: 1px solid red;

}


#a1 input :hover {
	background-color: red;
	color: black;
}

span {
	color: red;
}



#dead {
	display: block;
	margin:auto;
	
}


#cave {
	width: 40%;
	display: block;
	margin:auto;
}


.start_over {
	text-decoration: none;
	color: red;
	margin-bottom: 110px;
}

#bush {
	display: block;
	margin: auto;
}

#bugs {
	display: block;
	margin: auto;
	width: 15%;
	margin-top: 200px;
}

#trudge {
	width: 18%;
	margin: auto;
	display: block;

}

